<div class="store-buttons">
    <a
        href="https://play.google.com/store/apps/details?id=app.wallpaperreactor"
        target="_blank"
        rel="noopener"
    >
        <img
            src="{{ '/assets/images/google-play-button.png' | relative_url }}"
            alt="Get it on Google Play"
        />
    </a>
    <a
        href="https://apps.microsoft.com/detail/9n4302crdqrl"
        target="_blank"
        rel="noopener"
    >
        <img
            src="{{ '/assets/images/microsoft-store-badge.svg' | relative_url }}"
            alt="Get it from Microsoft"
        />
    </a>
    <a
        href="https://apps.apple.com/us/app/wallpaper-reactor-lite/id6751447022"
        target="_blank"
        rel="noopener"
    >
        <img
            src="{{ '/assets/images/apple-store-button.svg' | relative_url }}"
            alt="Download on the App Store"
        />
    </a>
</div>
